@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

html,
body {
  height: 100%;
}

* {
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  height: 100%;
}
.header {
  font-weight: bold;
  font-size: 40px;
  padding: 10px 40px;
  background: #0e0e0e;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.action-bar {
  display: flex;
}

.action-button {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #4a4a4a;
  font-size: 20px;
  background: #4a4a4a;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.action-button:hover {
  background: #807272;
}

.action-button:focus {
  border: 1px solid #ddd;
}

.body-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.input-bar {
  padding: 50px;
  flex: 1;
  background: rgb(41, 41, 41);
  overflow: auto;
}

.result-pane {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  background: #cac8c8;
  padding: 50px;
  overflow: auto;
}

.text-area,
.input-fields {
  border: none;
  outline: none;
  resize: none;
  padding: 20px;
  font-size: 15px;
  margin-bottom: 15px;
}
*:disabled {
  cursor: not-allowed;
}

#form {
  display: flex;
  flex-direction: column;
  height: 330px;
  transition: height 1s;
  overflow: hidden;
}

.submit-button {
  width: 100%;
  margin: 0;
  padding: 10px;
  font-weight: bold;
  background: #737373;
}

.submit-button:hover {
  border: 1px solid #ddd;
  background: #737373;
}

.desc {
  font-size: 18px;
  padding-bottom: 5px;
}

.read-more {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #026ebd;
}

pre {
  background: #ddd;
  padding: 10px;
  overflow: auto;
}

.notNullText,
.error-wrapper,
.request-wrapper {
  transition: opacity 1s;
}

.important-text {
  margin-top: 20px;
  color: red;
  opacity: 0;
  transition: opacity 1s;
  text-align: justify;
  font-style: italic;
}

.notNullText {
  height: 30px;
  color: red;
}

.logo {
  cursor: pointer;
}

@media only screen and (max-width: 780px) {
  .header {
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  .action-bar {
    flex-direction: column;
    width: 100%;
  }

  .body-wrapper {
    flex-direction: column;
  }

  .input-bar {
    padding: 0px 20px;
    flex: 1;
  }

  .header {
    font-size: 35px;
    padding: 20px 0px 10px 0px;
  }

  .action-button {
    margin-bottom: 2px;
  }
}
